@media (min-width: 1200px) {
    .container{
        max-width: 1024px;
    }
}

body{
	background-color:#f4f4f4;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

header{
	text-align: left;
	background-image: none;
	background-color: #ffffff;
	color: #f05f40;
	min-height: auto;
}

.navbar{
	background-color:#f05f40;
}

.content{
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  min-height: 429px;
}

.step-body{
	margin-top: 15px;
	padding: 20px 0px;
}

footer{
	background-image : url(../img/header.jpg);
	background-position: center;
	background-size: cover;
	color: #fff;
	margin-top: 20px;
	/* min-height: 100px; */
	padding-top: 20px;
	padding-bottom: 20px;
}

.copyright{
    font-size: 11px;
}

.bs-callout{
	padding: 10px;
	margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
} 

.bs-callout-info{
	border-left-color: #1b809e;
}

.bs-callout h4{
    margin-top: 5px;
	
    margin-bottom: 5px;
}

.bs-callout-info h4{
	color:#1b809e;
}

.form-group label{
	font-weight: 100;
}

/* overide bootstrap custome */
.btn-default{
    border: 1px solid;
    border-color: #CCCCCC;
	
}
/* ende */

/* overide jquery step */
.form-wizard>.steps{
	background-color : transparent;
}

.form-wizard>.actions{
	background-color : transparent;
}

.wizard-container{
	padding-right: 15px;
    padding-left: 15px;
}

.form-wizard>.steps {
    border-bottom: none;
}

.form-wizard>.actions {
    border-top: none;
}

.form-wizard>.steps>ul>li.current>a>.number:after {
    content: "";
}

.form-wizard>.steps>ul>li.current>a>.number {
    font-size: 14px;
    color: #fff;
}

.form-wizard>.steps>ul>li.done>a>.number:after {
    content: "";
}

.form-wizard>.steps>ul>li.done>a>.number {
    font-size: 14px;
    color: #fff;
}

.form-hide{
	display : none;
}

.table-header thead tr th{
	text-align : center;
	vertical-align: middle;
	background-color: #f4f4f4;
}

.table-header thead tr th, .table-header tbody tr td{white-space: nowrap;}

.schedule-box{
    margin-top: 10px;
    padding: 10px 15px;
    border-top: 5px solid #f05f40;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 3px;
}

.schedule-box .header{
    padding: 5px;
    font-weight: bold;
    font-size: 12pt;
    /* color: #f05f40; */
}

.schedule-box .body{
    padding: 10px;
}

.schedule-box .body label{
    font-weight: normal;
}

.loading img{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    display : none;
}

.log-block{}

.log-block .log-header{
    font-weight: bold;
    font-size: 12pt;
    border-bottom: 3px solid #f05f40;
}

.log-block .log-body{
    padding: 10px;
}

.table-individu tbody tr td{
    max-width: 50px !important;
    min-width: 50px !important;
    padding: 5px;
    text-align: center;
}